<mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="data.name" name="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="data.description" name="description">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Creator</mat-label>
      <input matInput [(ngModel)]="data.creator" name="creator">
    </mat-form-field>
    <!-- Add other fields as necessary -->
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="save()">Save</button>
</mat-dialog-actions>
