<p-table [value]="pendingUsersRequests| emailFilter: searchTerm" [styleClass]="'p-datatable-lg'">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Pending user requests 
        </div>
        <span class="p-input-icon-left" style="margin-top: 20px;">
            <i class="pi pi-search"></i>
            <input type="text" pInputText  placeholder="Search by Email" [(ngModel)]="searchTerm" />
        </span>
    </ng-template>
    
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="nom">Name <p-sortIcon field="nom"></p-sortIcon></th>
            <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="status">Requested Status <p-sortIcon field="status"></p-sortIcon></th>
            <th pSortableColumn="role">Requested Role <p-sortIcon field="role"></p-sortIcon></th>
            <th>Affected Role</th>
            <th>Confirmation</th>
        </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-user >
        <tr >                                        
            <td>{{ user.nom }}</td>
            <td>{{ user.email }}</td>
            <td><p-tag [value]="user.status" severity="warning" icon="pi pi-info-circle" ></p-tag> </td>
            <td>{{ user.role }}</td>
            <td>
                <select class="form-select" [(ngModel)]="user.role" style="width: 100px;">
                    <option *ngFor="let role of userRoleValues" [value]="role">{{ role }}</option>
                </select>                                         
            </td>
            <td>
                <p-toast></p-toast>
                <p-confirmPopup></p-confirmPopup>
                <p-button icon="pi pi-check" [rounded]="true" [text]="true" severity="success" (click)="confirm1($event,user, 'APPROVED')"></p-button>
                <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" (click)="confirm1($event,user, 'APPROVED')"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>