<div class="w-full max-w-3xl">

    <!-- Form -->
    <form [formGroup]="securityForm">

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Change your password</div>
            <div class="text-secondary">You can only change your password twice within 24 hours!</div>
            <fuse-alert
            class="mt-8"
            *ngIf="showAlert"
            [appearance]="'outline'"
            [showIcon]="false"
            [type]="alert.type"
            >
            {{alert.message}}
        </fuse-alert>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Current password -->
            <div class="sm:col-span-4">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Current password</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:key'"
                        matPrefix></mat-icon>
                    <input
                        (input)="verifyOldPassword()"
                        [formControlName]="'currentPassword'"
                        type="password"
                        matInput
                        #oldPasswordField
                        >
                    <button
                        mat-icon-button
                        type="button"
                        (click)="oldPasswordField.type === 'password' ? oldPasswordField.type = 'text' : oldPasswordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="oldPasswordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="oldPasswordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                </mat-form-field>
                <mat-error *ngIf="securityForm.get('currentPassword').touched && securityForm.get('currentPassword').hasError('required')">Password is required</mat-error>
                <mat-error *ngIf="securityForm.get('currentPassword').errors?.missingNumber && !securityForm.get('currentPassword').errors?.required">Password must contain at least one number</mat-error>
                <mat-error *ngIf="securityForm.get('currentPassword').errors?.missingSpecialChar && !securityForm.get('currentPassword').errors?.required && !securityForm.get('currentPassword').errors?.missingNumber"> at least one special character</mat-error>
                <mat-error *ngIf="securityForm.get('currentPassword').errors?.minLength && !securityForm.get('currentPassword').errors?.required && !securityForm.get('currentPassword').errors?.missingNumber && !securityForm.get('currentPassword').errors?.missingSpecialChar">at least 8 characters long</mat-error>
                <mat-error *ngIf="securityForm.get('currentPassword').hasError('Exist')">Wrong  password</mat-error>
                <mat-error *ngIf="securityForm.get('currentPassword').errors?.missingUpperCase && !securityForm.get('currentPassword').errors?.missingNumber&& !securityForm.get('currentPassword').errors?.missingSpecialChar && !securityForm.get('currentPassword').errors?.required">Password must contain at least one uppercase character</mat-error>

            </div>
            <!-- New password -->
            <div class="sm:col-span-4">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>New password</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:key'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'newPassword'"
                        (input)="similarPassword()"
                        type="password"
                        matInput
                        #passwordField
                        >
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                </mat-form-field>
                <mat-error *ngIf="securityForm.get('newPassword').touched && securityForm.get('newPassword').hasError('required')">Password is required</mat-error>
                <mat-error *ngIf="securityForm.get('newPassword').errors?.missingNumber && !securityForm.get('newPassword').errors?.required">Password must contain at least one number</mat-error>
                <mat-error *ngIf="securityForm.get('newPassword').errors?.missingSpecialChar && !securityForm.get('newPassword').errors?.required && !securityForm.get('newPassword').errors?.missingNumber"> at least one special character</mat-error>
                <mat-error *ngIf="securityForm.get('newPassword').errors?.minLength && !securityForm.get('newPassword').errors?.required && !securityForm.get('newPassword').errors?.missingNumber && !securityForm.get('newPassword').errors?.missingSpecialChar">at least 8 characters long</mat-error>
                <mat-error *ngIf="securityForm.get('newPassword').hasError('SamePassword')">It's the same password</mat-error>
             
                <div class="mt-1 text-md text-hint">Minimum 8 characters. Must include numbers, letters and special characters.</div>
            </div>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Security preferences</div>
            <div class="text-secondary">Keep your account more secure with following preferences.</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- 2-step auth -->
            <div class="sm:col-span-4 flex items-center justify-between">
                <div
                    class="flex-auto cursor-pointer"
                    (click)="twoStepToggle.toggle()">
                    <div class="leading-6 font-medium">Enable 2-step authentication</div>
                    <div class="text-md text-secondary">
                        Protects you against password theft by requesting an authentication code via SMS on every login.
                    </div>
                </div>
                <mat-slide-toggle
                    class="ml-4"
                    [color]="'primary'"
                    [formControlName]="'twoStep'"
                    #twoStepToggle>
                </mat-slide-toggle>
            </div>
            <!-- Ask to change password -->
            <div class="sm:col-span-4 flex items-center justify-between">
                <div
                    class="flex-auto cursor-pointer"
                    (click)="askPasswordChangeToggle.toggle()">
                    <div class="leading-6 font-medium">Ask to change password on every 6 months</div>
                    <div class="text-md text-secondary">
                        A simple but an effective way to be protected against data leaks and password theft.
                    </div>
                </div>
                <mat-slide-toggle
                    class="ml-4"
                    [color]="'primary'"
                    [formControlName]="'askPasswordChange'"
                    #askPasswordChangeToggle>
                </mat-slide-toggle>
            </div>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button
                mat-stroked-button
                type="button">
                Cancel
            </button>
            <button
                [disabled]="securityForm.invalid"
                (click)="updatePassword()"
                class="ml-4"
                mat-flat-button
                type="button"
                [color]="'primary'">Save
            </button>
        </div>
    </form>

</div>
