<div header="Dark Sidebar with Grouped Menu">
    <div class="block-section">
        <div class="block-header"><span class="block-title"><span class="text-900">Gouvernance de données
                    </span><!----><!----></span>
            <div class="block-actions text-900"><a tabindex="0" class="block-action-active">
                <span>Log out </span></a><a
                    ptooltip="Copied to clipboard" tooltipevent="focus" tooltipposition="bottom"
                    class="p-element block-action-copy block-action-disabled"><i class="pi pi-copy"></i></a>
                </div>
        </div>
        <div class="block-content">
            <div class="ng-star-inserted" style="height: 100vh; overflow: hidden;">
                <div class="min-h-screen flex relative lg:static surface-ground">
                    <div id="app-sidebar-3"
                        class="bg-gray-900 h-screen lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 border-right-1 border-gray-800 select-none"
                        style="width: 280px;">
                        <div class="flex flex-column h-full">
                            <div class="flex align-items-center px-5 flex-shrink-0" style="height: 60px;"><img
                                    src="https://blocks.primeng.org/assets/images/blocks/logos/hyper-300.svg" alt="Image" height="30"></div>
                            <div class="overflow-y-auto">
                                <ul class="list-none p-3 m-0">
                                    <li><span class="block p-3 text-gray-600">FAVORITES</span></li>
                                    <li><a pripple=""
                                            class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round hover:bg-gray-800 text-gray-300 hover:text-white transition-duration-150 transition-colors"><i
                                                class="pi pi-home mr-2"></i><span
                                                class="font-medium">Dashboard</span><span class="p-ink"
                                                style="height: 247px; width: 247px; top: -101.5px; left: 24.5px;"></span></a>
                                    </li>
                                    <li><a pripple=""
                                            class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round hover:bg-gray-800 text-gray-300 hover:text-white transition-duration-150 transition-colors"><i
                                                class="pi pi-bookmark mr-2"></i><span
                                                class="font-medium">Bookmarks</span><span class="p-ink"
                                                style="height: 247px; width: 247px; top: -121.5px; left: 84.5px;"></span></a>
                                    </li>
                                    <li><a pripple="" pstyleclass="@next" enterclass="hidden"
                                            enteractiveclass="slidedown" leavetoclass="hidden"
                                            leaveactiveclass="slideup"
                                            class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round hover:bg-gray-800 text-gray-300 hover:text-white transition-duration-150 transition-colors"><i
                                                class="pi pi-chart-line mr-2"></i><span
                                                class="font-medium">Reports</span><i
                                                class="pi pi-chevron-down ml-auto"></i><span class="p-ink"></span></a>
                                        <ul
                                            class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
                                            <li><a pripple="" pstyleclass="@next" enterclass="hidden"
                                                    enteractiveclass="slidedown" leavetoclass="hidden"
                                                    leaveactiveclass="slideup"
                                                    class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round hover:bg-gray-800 text-gray-300 hover:text-white transition-duration-150 transition-colors"><i
                                                        class="pi pi-chart-line mr-2"></i><span
                                                        class="font-medium">Revenue</span><i
                                                        class="pi pi-chevron-down ml-auto"></i><span
                                                        class="p-ink"></span></a>
                                                <ul
                                                    class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
                                                    <li><a pripple=""
                                                            class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round hover:bg-gray-800 text-gray-300 hover:text-white transition-duration-150 transition-colors"><i
                                                                class="pi pi-table mr-2"></i><span
                                                                class="font-medium">View</span><span
                                                                class="p-ink"></span></a></li>
                                                    <li><a pripple=""
                                                            class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round hover:bg-gray-800 text-gray-300 hover:text-white transition-duration-150 transition-colors"><i
                                                                class="pi pi-search"></i><span
                                                                class="font-medium">Search</span><span
                                                                class="p-ink"></span></a></li>
                                                </ul>
                                            </li>
                                            <li><a pripple=""
                                                    class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round hover:bg-gray-800 text-gray-300 hover:text-white transition-duration-150 transition-colors"><i
                                                        class="pi pi-chart-line mr-2"></i><span
                                                        class="font-medium">Expenses</span><span
                                                        class="p-ink"></span></a></li>
                                        </ul>
                                    </li>
                                    <li><a pripple=""
                                            class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round hover:bg-gray-800 text-gray-300 hover:text-white transition-duration-150 transition-colors"><i
                                                class="pi pi-users mr-2"></i><span class="font-medium">Team</span><span
                                                class="p-ink"></span></a></li>
                                    <li><a pripple=""
                                            class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round hover:bg-gray-800 text-gray-300 hover:text-white transition-duration-150 transition-colors"><i
                                                class="pi pi-comments mr-2"></i><span
                                                class="font-medium">Messages</span><span
                                                class="inline-flex align-items-center justify-content-center ml-auto bg-blue-500 text-0 border-circle"
                                                style="min-width: 1.5rem; height: 1.5rem;">3</span><span
                                                class="p-ink"></span></a></li>
                                    <li><a pripple=""
                                            class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round hover:bg-gray-800 text-gray-300 hover:text-white transition-duration-150 transition-colors"><i
                                                class="pi pi-calendar mr-2"></i><span
                                                class="font-medium">Calendar</span><span class="p-ink"></span></a></li>
                                    <li><a pripple=""
                                            class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round hover:bg-gray-800 text-gray-300 hover:text-white transition-duration-150 transition-colors"><i
                                                class="pi pi-cog mr-2"></i><span
                                                class="font-medium">Settings</span><span class="p-ink"></span></a></li>
                                </ul>
                                <ul class="list-none p-3 m-0">
                                    <li><span class="block p-3 text-600">APPLICATION</span></li>
                                    <li><a pripple=""
                                            class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round hover:bg-gray-800 text-gray-300 hover:text-white transition-duration-150 transition-colors"><i
                                                class="pi pi-folder mr-2"></i><span
                                                class="font-medium">Projects</span><span class="p-ink"></span></a></li>
                                    <li><a pripple=""
                                            class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round hover:bg-gray-800 text-gray-300 hover:text-white transition-duration-150 transition-colors"><i
                                                class="pi pi-chart-bar mr-2"></i><span
                                                class="font-medium">Reports</span><span class="p-ink"></span></a></li>
                                    <li><a pripple=""
                                            class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round hover:bg-gray-800 text-gray-300 hover:text-white transition-duration-150 transition-colors"><i
                                                class="pi pi-cog mr-2"></i><span
                                                class="font-medium">Settings</span><span class="p-ink"></span></a></li>
                                </ul>
                            </div>
                            <div class="mt-auto">
                                <hr class="mb-3 mx-3 border-top-1 border-none border-gray-800"><a pripple=""
                                    class="p-ripple p-element m-3 flex align-items-center cursor-pointer p-3 border-round hover:bg-gray-800 text-gray-300 hover:text-white transition-duration-150 transition-colors"><img
                                        src="https://blocks.primeng.org/assets/images/blocks/avatars/circle/avatar-f-1.png" class="mr-2"
                                        style="width: 28px; height: 28px;"><span class="font-medium">Amy
                                        Elsner</span><span class="p-ink"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="min-h-screen flex flex-column relative flex-auto">
                        <div class="flex justify-content-between align-items-center px-5 surface-0 border-bottom-1 surface-border relative lg:static"
                            style="height: 60px;">
                            <div class="flex"><a pripple="" pstyleclass="#app-sidebar-3" enterclass="hidden"
                                    enteractiveclass="fadeinleft" leavetoclass="hidden" leaveactiveclass="fadeoutleft"
                                    class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center lg:hidden text-700 mr-3"><i
                                        class="pi pi-bars text-4xl"></i><span class="p-ink"
                                        style="height: 37px; width: 37px; top: 5.5px; left: 12.5px;"></span></a><span
                                    class="p-input-icon-left"><i class="pi pi-search"></i><input type="text"
                                        pinputtext="" placeholder="Search"
                                        class="p-inputtext p-component p-element border-none w-10rem sm:w-20rem"></span>
                            </div><a pripple="" pstyleclass="@next" enterclass="hidden" enteractiveclass="fadein"
                                leavetoclass="hidden" leaveactiveclass="fadeout"
                                class="p-ripple p-element cursor-pointer block lg:hidden text-700"><i
                                    class="pi pi-ellipsis-v text-2xl"></i><span class="p-ink"></span></a>
                            <ul
                                class="list-none p-0 m-0 hidden lg:flex lg:align-items-center select-none lg:flex-row surface-section border-1 lg:border-none surface-border right-0 top-100 z-1 shadow-2 lg:shadow-none absolute lg:static">
                                <li><a pripple=""
                                        class="p-ripple p-element flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-duration-150 transition-colors"><i
                                            class="pi pi-inbox text-base lg:text-2xl mr-2 lg:mr-0"></i><span
                                            class="block lg:hidden font-medium">Inbox</span><span class="p-ink"
                                            style="height: 56px; width: 56px; top: -9.5px; left: 0px;"></span></a></li>
                                <li><a pripple=""
                                        class="p-ripple p-element flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-duration-150 transition-colors"><i
                                            pbadge="" severity="danger"
                                            class="p-element pi pi-bell text-base lg:text-2xl mr-2 lg:mr-0 p-overlay-badge"><span
                                                id="pr_id_3_badge"
                                                class="p-badge p-component p-badge-danger p-badge-dot"></span></i><span
                                            class="block lg:hidden font-medium">Notifications</span><span
                                            class="p-ink"></span></a></li>
                                <li class="border-top-1 surface-border lg:border-top-none"><a pripple=""
                                        class="p-ripple p-element flex p-3 lg:px-3 lg:py-2 align-items-center hover:surface-100 font-medium border-round cursor-pointer transition-duration-150 transition-colors"><img
                                            src="assets/images/blocks/avatars/circle/avatar-f-1.png"
                                            class="mr-3 lg:mr-0" style="width: 32px; height: 32px;">
                                        <div class="block lg:hidden">
                                            <div class="text-900 font-medium">Josephine Lillard</div><span
                                                class="text-600 font-medium text-sm">Marketing Specialist</span>
                                        </div><span class="p-ink"></span>
                                    </a></li>
                            </ul>
                        </div>
                        <div class="p-5 flex flex-column flex-auto">
                            <div class="border-2  surface-border border-round surface-section flex-auto">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div><!----><!---->
        </div>
    </div>
</div>