<div class="w-full max-w-3xl">
    <form [formGroup]="emailForm" class="w-full">
        <!-- Add team member -->
        <div class="w-full">
            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                <mat-label>Add team members</mat-label>
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:mail'" matPrefix></mat-icon>
                <input (input)="verifyEmail()" matInput formControlName="email" [placeholder]="'Email address'">
                <mat-error *ngIf="emailForm.get('email').hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="!emailForm.get('email').hasError('required') && emailForm.get('email').hasError('email')">Please enter a valid email address</mat-error>
                <mat-error *ngIf="emailForm.get('email').hasError('emailNotFound')">Email not found in approved users.</mat-error>
                <mat-error *ngIf="emailForm.get('email').hasError('memberExist')">Member already exist in your Team</mat-error>

                <button  (click)="openConfirmationDialog('ADD',null)"   [disabled]="emailForm.get('email').invalid" mat-icon-button matSuffix>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                </button>
            </mat-form-field>
            <!-- Alert -->
            <fuse-alert
                class="mt-8"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                >
                {{alert.message}}
            </fuse-alert>            
        </div>
    </form>

    <!-- Team members -->
    <div class="flex flex-col mt-8 divide-y border-t border-b">
        <ng-container *ngFor="let member of members; trackBy: trackByFn;">
            <div class="flex flex-col sm:flex-row sm:items-center py-6">
                <div class="flex items-center">
                    <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                        <ng-container *ngIf="member.avatar">
                            <img
                                class="object-cover w-full h-full"
                                [src]="member.avatar"
                                alt="Contact avatar"/>
                        </ng-container>
                        <ng-container *ngIf="!member.avatar">
                            <div class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                {{member.nom.charAt(0)}}
                            </div>
                        </ng-container>
                    </div>
                    <div class="ml-4">
                        <div class="font-medium">{{member.nom}}</div>
                        <div class="text-secondary">{{member.email}}</div>
                    </div>
                </div>
                <div class="flex items-center mt-4 sm:mt-0 sm:ml-auto">
                    <div class="order-2 sm:order-1 ml-4 sm:ml-0">

                    </div>
                    <div class="order-1 sm:order-2 sm:ml-3">
                        <button mat-icon-button 
                        (click)="openConfirmationDialog('DELETE',member)"
                        >
                            <mat-icon
                                class="text-hint"
                                [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

</div>
