<div class="main-container">
  <div class="card-container">
    <div class="search-container">
      <input type="text" [(ngModel)]="searchQuery" (input)="filterDataTables()" placeholder="Search by table name or owner...">
    </div>
    <div class="filter-container">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Filter by Schema</mat-label>
        <input type="text" placeholder="Search schema" matInput
               [formControl]="schemaSearchControl" [matAutocomplete]="autoSchema">
        <mat-autocomplete #autoSchema="matAutocomplete" (optionSelected)="selectSchema($event)">
          <mat-option *ngFor="let schema of filteredSchemas | async" [value]="schema">
            {{ schema.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-chip-listbox>
          <mat-chip *ngFor="let schema of selectedSchemasFilter" (removed)="removeSchema(schema)">
            {{ schema.name }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-listbox>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Filter by Owner</mat-label>
        <input type="text" placeholder="Search owner" matInput
               [formControl]="ownerSearchControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectOwner($event)">
          <mat-option *ngFor="let owner of filteredOwners | async" [value]="owner">
            {{ owner.owner }} ({{ owner.count }})
          </mat-option>
        </mat-autocomplete>
        <mat-chip-listbox>
          <mat-chip *ngFor="let owner of selectedOwners" (removed)="removeOwner(owner)">
            {{ owner.owner }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-listbox>
      </mat-form-field>
    </div>
    
    <div *ngFor="let dataTable of filteredDataTables" class="card" [ngClass]="{'card-selected': selectedDataTable?.idTable === dataTable.idTable}" (dblclick)="openEditForm(dataTable)" (click)="selectDataTable(dataTable)">
      <div class="card-header">
        <div class="database-info">
          <div class="table-name" (click)="openSchemas(dataTable); $event.stopPropagation()">{{ dataTable.name }}</div>
        </div>
      </div>
      <div class="card-body">
        <p>{{ dataTable.description }}</p>
      </div>
      <div class="card-footer">
        <span class="tag">Owner: {{ dataTable.creator }}</span>
        <span class="tag">Source: {{ dataTable.source }}</span>
        <span class="tag">Creation Date: {{ dataTable.creationDate }}</span>
        <span class="tag">Size: {{ dataTable.size }}</span>
      </div>
    </div>
  </div>
  <!-- Details Panel -->
  <!-- Inside the details panel -->
<div class="details-panel" *ngIf="selectedDataTable">
  <h2>{{ selectedDataTable.name }}</h2>
  <h3>Columns: {{ selectedSchemas.length }}</h3>
  <p><span class="description-title">Description:</span>
    <br>   {{ selectedDataTable.description }}</p>
    <h4>Tags</h4>
    <div *ngFor="let tag of aggregatedTags" class="tag">
      {{ tag }}
    </div>
  <h4>Schema</h4>
  <div *ngFor="let schema of selectedSchemas" class="schema-container">
    <p><strong>{{ schema.name }}</strong> ({{ schema.type }})</p>
    <p>{{ schema.description }}</p>
    <div *ngFor="let tag of schema.tags">
      <span class="tag">{{ tag }}</span>
    </div>
  </div>
</div>

</div>
