<section class="vh-200" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  <!-- <div *ngIf="signUpSucceded" class="alert User registered alert-success" role="alert">
                    User registered
                  </div> -->
                  <p class="text-left h1 fw-bold mb-8 mx-1 mx-md-4 mt-1" style="color: #05445E;">S'inscrire</p>
                  <form [formGroup]="signupForm" (ngSubmit)="signup()" class="mx-1 mx-md-4">
                    <div class="mb-2">
                      <label for="nom" class="form-label">Nom:</label>
                      <input type="text" id="nom" formControlName="nom" class="form-control">
                      <div *ngIf="signupForm.get('nom')?.errors?.['required'] && signupForm.get('nom')?.touched">
                        <span class="text-danger">Nom est requis</span>
                      </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                          <label for="dateNaissance" class="form-label">Date de naissance:</label>
                          <input type="date" id="dateNaissance" formControlName="dateNaissance" class="form-control">
                          <div *ngIf="signupForm.get('dateNaissance')?.errors?.['required'] && signupForm.get('dateNaissance')?.touched">
                            <span class="text-danger">Date de naissance est requise</span>
                          </div>
                        </div>
                        <div class="col">
                          <label for="dateEmbauche" class="form-label">Date d'embauche:</label>
                          <input type="date" id="dateEmbauche" formControlName="dateEmbauche" class="form-control">
                          <div *ngIf="signupForm.get('dateEmbauche')?.errors?.['required'] && signupForm.get('dateEmbauche')?.touched">
                            <span class="text-danger">Date d'embauche est requise</span>
                          </div>
                        </div>
                      </div>
                      
                      <div class="mb-2">
                        <label for="motDePasse" class="form-label">Mot de passe:</label>
                        <input type="password" id="motDePasse" formControlName="motDePasse" class="form-control">
                        <div *ngIf="signupForm.get('motDePasse')?.errors?.['required'] && signupForm.get('motDePasse')?.touched">
                          <span class="text-danger">Mot de passe est requis</span>
                        </div>
                        <div *ngIf="signupForm.get('motDePasse')?.errors?.['minlength']">
                          <span class="text-danger">Mot de passe doit avoir au moins 8 caractères</span>
                        </div>
                      </div>
                      
                      <div class="row mb-2">
                        <div class="col">
                          <label for="ncin" class="form-label">NCIN:</label>
                          <input type="text" id="ncin" formControlName="ncin" class="form-control">
                          <div *ngIf="signupForm.get('ncin')?.errors?.['required'] && signupForm.get('ncin')?.touched">
                            <span class="text-danger">NCIN est requis</span>
                          </div>
                          <div *ngIf="signupForm.get('ncin')?.errors?.['minlength']">
                            <span class="text-danger">NCIN doit avoir au moins 8 caractères</span>
                          </div>
                          <div *ngIf="signupForm.get('ncin')?.errors?.['maxlength']">
                            <span class="text-danger">NCIN doit avoir au plus 8 caractères</span>
                          </div>
                        </div>
                        <div class="col">
                          <label for="numTel" class="form-label">Numéro de téléphone:</label>
                          <input type="text" id="numTel" formControlName="numTel" class="form-control">
                          <div *ngIf="signupForm.get('numTel')?.errors?.['required'] && signupForm.get('numTel')?.touched">
                            <span class="text-danger">Numéro de téléphone est requis</span>
                          </div>
                          <div *ngIf="signupForm.get('numTel')?.errors?.['minlength']">
                            <span class="text-danger">Numéro de téléphone doit avoir au moins 10 caractères</span>
                          </div>
                        </div>
                      </div>
                      
                      <div class="mb-2">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" id="email" formControlName="email" class="form-control">
                        <div *ngIf="signupForm.get('email')?.errors?.['required'] && signupForm.get('email')?.touched">
                          <span class="text-danger">Email est requis</span>
                        </div>
                        <div *ngIf="signupForm.get('email')?.errors?.['email']">
                          <span class="text-danger">Email doit être une adresse email valide</span>
                        </div>
                      </div>
                      
                      <div class="row mb-2">
                        <div class="col">
                          <label for="role" class="form-label">Rôle:</label>
                          <select class="form-select" style="width: 100px;">
                            <option *ngFor="let role of userRoleValues" [value]="role">{{ role }}</option>
                        </select>           
                          <div *ngIf="signupForm.get('role')?.errors?.['required'] && signupForm.get('role')?.touched">
                            <span class="text-danger">Rôle est requis</span>
                          </div>
                        </div>
                        <div class="col">
                          <label for="poste" class="form-label">Poste:</label>
                          <input type="text" id="poste" formControlName="poste" class="form-control">
                          <div *ngIf="signupForm.get('poste')?.errors?.['required'] && signupForm.get('poste')?.touched">
                            <span class="text-danger">Poste est requis</span>
                          </div>
                        </div>
                      </div>
                      
                      
                      <div formGroupName="adresse" class="mb-2">
                        <div class="row mb-2">
                            <div class="col">
                              <label for="pays" class="form-label">Pays:</label>
                              <input type="text" id="pays" formControlName="pays" class="form-control">
                              <div *ngIf="signupForm.get('adresse')?.get('pays')?.errors?.['required'] && signupForm.get('adresse')?.get('pays')?.touched">
                                <span class="text-danger">Pays est requis</span>
                              </div>
                            </div>
                            <div class="col">
                              <label for="ville" class="form-label">Ville:</label>
                              <input type="text" id="ville" formControlName="ville" class="form-control">
                              <div *ngIf="signupForm.get('adresse')?.get('ville')?.errors?.['required'] && signupForm.get('adresse')?.get('ville')?.touched">
                                <span class="text-danger">Ville est requise</span>
                              </div>
                            </div>
                            <div class="col">
                              <label for="codePostale" class="form-label">Code postal:</label>
                              <input type="text" id="codePostale" formControlName="codePostale" class="form-control">
                              <div *ngIf="signupForm.get('adresse')?.get('codePostale')?.errors?.['required'] && signupForm.get('adresse')?.get('codePostale')?.touched">
                                <span class="text-danger">Code postal est requis</span>
                              </div>
                              <div *ngIf="signupForm.get('adresse')?.get('codePostale')?.errors?.['minlength']">
                                <span class="text-danger">Code postal doit avoir au moins 5 caractères</span>
                              </div>
                              <div *ngIf="signupForm.get('adresse')?.get('codePostale')?.errors?.['maxlength']">
                                <span class="text-danger">Code postal doit avoir au plus 5 caractères</span>
                              </div>
                            </div>
                          </div>
                          <div>
                            <label for="numRue" class="form-label">Numéro de rue:</label>
                            <input type="number" id="numRue" formControlName="numRue" class="form-control">
                            <div *ngIf="signupForm.get('adresse')?.get('numRue')?.errors?.['required'] && signupForm.get('adresse')?.get('numRue')?.touched">
                              <span class="text-danger">Numéro de rue est requis</span>
                            </div>
                            <div *ngIf="signupForm.get('adresse')?.get('numRue')?.errors?.['min']">
                              <span class="text-danger">Numéro de rue doit être supérieur à 0</span>
                            </div>
                          </div>
                      </div>

  
                    <!-- Submit button -->
                    <button type="submit" class="mt-4 btn btn-primary" [disabled]="signupForm.invalid">Sign Up</button>
                    <!-- Login link -->
                    <div>
                        <p class="mt-4">Already have an account? <a [routerLink]="['/login']">Se connecter</a></p>
                    </div>
                  </form>
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-4">
                  <img src="https://media.istockphoto.com/id/1305895613/vector/flat-vector-business-datacenter-technology-with-cloud-computing-service-concept-and.jpg?s=612x612&w=0&k=20&c=_YPMVJ_YX1J0dd2CDdlc7-zyECkB8yC49bZAPzRs4lI=" class="img-fluid" alt="Sample image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
